* {
  box-sizing: border-box;
}

body {
  background-color: #c2d4e4;
  color: #000;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  margin: 50px 0px 30px;
}

h2 {
  color: #ff0000;
  text-align: left;
  margin-left: 587px;
}

h3 {
  color: #ff0000;
}

input {
  display: inline-block;
  margin-bottom: 8px;
  padding: 10px;
  border: none;
  outline: none;
}

input::placeholder {
  color: #000;
}

input[type=submit] {
  padding: 15px 40px;
  border: none;
  background-color: #5347ff;
  color: #fff;
  cursor: pointer;
  border-radius: 200px;
}
