* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #a0c3e6;
  text-align: center;
  max-width: 1440px;
}

h1 {
  margin: 20px 0px;
  font-size: 50px;
}

h2 {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  color: #008000;
}

h3 {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  color: #ff0000;
}

small {
  display: inline-block;
  color: red;
}

input {
  padding: 10px;
  border: none;
  outline: none;
}

input::placeholder {
  background-color: transparent;
}

.generate-btn {
  margin: 20px 0px;
  padding: 10px 25px;
  border: 2px solid transparent;
  background-color: #76f6c5;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 200px;
}

.generate-btn:hover {
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
}

.images {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
}
